@media (max-width: 560px) {
    .menu__list {
        position: fixed;
        top: 8%;
        right: -100%;
        width: 100%;
        height: 100vh;
        margin: 0;
        text-align: center;
        flex-direction: column;
        justify-content: flex-start;
        background: linear-gradient(-145deg, var(--theme-color), rgba(255, 255, 255, 0.2));
        transition: all 0.5s ease-in-out;
    }
    .menu__item {
        display: block;
        padding: 8px 0;
        margin: 8px 0;
    }

    .menu__link {
        font-size: 2.4rem;
    }

    .menu__logo {
        margin-left: 20px;
    }

    .menu__bar {
        display: block;
    }
    .menu__bar i {
        pointer-events: none;
    }

    .menu__list.show {
        right: 0;
    }

    .section-content {
        background: unset;
    }

    .section-content.display {
        opacity: 0;
    }

    .user-img {
        width: 160px;
        height: 160px;
    }
}
